<article{{attributes.addClass('col-12 searchresult flex-between')}}>
	<div class="col-12-m05 thumbnail">
		{{ content.field_cover }}
	</div>
	<div class="col-12-m07 flex-center">
		<div class="col-10">
			{{ content.field_category }}
			{% if label %}<h4>{{ node.label }} <small><br/>{{ node.created.value|date('d.m.Y') }}</small></h4>{% endif %}
			
			{{ content.field_teaser_description }}
			<a href="{{ url }}">{{ 'Zur Seite'|t }}</a>
		</div>
	</div>
</article>