<article{{attributes.addClass('article-node')}}>

	<div{{content_attributes}}>

		<div class="field-content">
			{{ content.field_cover }}
			{{ content.field_category }}
			<h1>{{ label }}</h1>
			{{ content.field_content_article }}
			{{ content.field_not_translateable }}
		</div>

	</div>

</article>