<article{{attributes.addClass('searchresult flex-between')}}>
	<div class="col-12-m04 thumbnail">
		{{ content.field_mediaslider }}HIER SOLL EIN TEASERFOTO FOLGEN
	</div>
	<div class="col-12-m08 flex-center">
		<div class="col-09">
			<span class="category">{{ 'Blog'|t }}</span>
			{% if label %}<h4>{{ node.label }} <small><br/>{{ node.created.value|date('d.m.Y') }}</small></h4>{% endif %}
			
			{{ content.field_teaser_description }}
			<a href="{{ url }}">{{ 'Zur Seite'|t }}</a>
		</div>
	</div>
</article>