<article{{attributes.addClass('article-node')}}>

	<div{{content_attributes}}>

		<div class="field-image">
			{{ content.field_image }}
		</div>

		<div class="field-content">
			{{ content.field_content_article }}
			{{ content.field_not_translateable }}
		</div>

	</div>

</article>